@keyframes appear{
    0%{
        /* transform: translateY(-60%); */
        opacity: 0;
    }
    100%{
        /* transform: translateY(0); */
        opacity: 1;
    }
}

@keyframes slideright{
    from{
        transform: translateX(-100px);
        
    }
    to{
        transform: translateX(0);
        
    }
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1.5%);
        
    }
    100%{
        transform: translateY(0)

    }   
}
